.wp-block-term-template {
	margin-top: 0;
	margin-bottom: 0;
	max-width: 100%;
	box-sizing: border-box;

	// Only apply list-style: none and padding: 0 for grid layout
	&.is-layout-grid {
		list-style: none;
		padding: 0;
	}
}
