.wp-block-feed {
	$self: &;

	form#{$self}__placeholder-form {

		#{$self}__placeholder-notice {
			box-sizing: border-box;
			flex: 1 0 100%;
		}

		#{$self}__placeholder-input {
			flex: 1 1 auto;
		}
	}
}
